<div class="body m-0 p-0" style="margin-top: 10vh;">
  <!-- Banner -->
  <div class="container-fluid firbid-bg no-gutters p-0">
    <!-- PC -->
    <div class="firbid-banner1  firbid-banner d-none d-md-block no-gutters m-0 p-0">
      <div class="why-firbid d-flex justify-content-center text-white w-50 why-titulo px-md-5 px-lg-0">
        <!-- <p class="why-firbid-title mt-0">¿Por qué FIRBID?</p> -->

        <p class="text-justify descripcion-principal">
          Creemos que las pymes y personas deben acceder a las mismas oportunidades que las grandes empresas.
        </p>
        <!-- <p style="font-size: 18px;" class="descripcion-secundaria">
          Al unirte a nuestra comunidad, estaremos creando juntos un mercado transparente y justo de cambio de dólares.
        </p> -->
        <p style="font-size: 18px;" class="yomequedoencasa">
            #YoMeQuedoEnCasa
        </p>
      </div>
    </div>
    <!-- Mobil -->
    <div class="container-fluid firbid-bg no-gutters p-0">
      <div class="firbid-banner2 firbid-banner d-md-none no-gutters m-0 p-0">
        <div class="why-firbid d-flex text-center justify-content-center text-white">
          <!-- <p class="w-400 why-firbid-title text-center mt-5">¿Por qué FIRBID?</p> -->
          <p class="text-center mobile-description">
            Creemos que las pymes y personas deben acceder a las mismas oportunidades que las grandes empresas.
          </p>
          <!-- <p class="text-center description mobile-description">
            Al unirte a nuestra comunidad, estaremos creando juntos un mercado transparente y justo de cambio de dólares.
          </p> -->
          <p style="font-size: 18px;" class="yomequedoencasa2">
              #YoMeQuedoEnCasa
          </p>
        </div>
      </div>
    </div>
  </div>

  
    <!-- Nuestro equipo -->
    <!-- <div class="container-fluid our-team no-gutters m-0 p-0">
      <p class="text-center pt-5 mb-4 our-team-title">Nuestro equipo</p>
      <div class=" align-items-center justify-content-center">
        <div class="trends container-fluid"> -->

        
          <!-- WEB -->
          <!-- <carousel :navigationEnabled="true" :perPage="3" ref="carousel-why" class="why-carousel container">
            <slide>
              <div class="out-team-item">
                <div class="our-team-container">
                  <div class="img-presentation">
                    <h4 class="name">Javier Ravello</h4>
                    <img src="@/assets/equipo/1.png" alt="">
                  </div>
                  <div class="content-presentation">
                    <h4 class="title">Co-Fundador</h4>
                    <p class="sub_title">Tecnología</p>
                    <p class="descripcion">Usar la tecnología para nivelar las condiciones del mercado de cambio de monedas es la ambición que nos motiva.</p>
                    <center>
                      <a target="_blank" href="https://www.linkedin.com/in/javierravello/">
                        <img src="@/assets/equipo/link.svg" alt="">
                      </a>
                    </center>
                  </div>  
                </div>                
              </div>
            </slide>
            <slide>
              <div class="out-team-item">
                <div class="our-team-container">
                  <div class="img-presentation">
                    <h4 class="name">Jose Duarte</h4>
                    <img src="@/assets/equipo/2.png" alt="">
                  </div>
                  <div class="content-presentation">
                    <h4 class="title">Co-Fundador</h4>
                    <p class="sub_title">CEO</p>
                    <p class="descripcion">Subastar tus dólares es la forma más eficiente de rentabilizar tus operaciones de cambio y FIRBID lo hace realidad.</p>
                    <center>
                      <a target="_blank" href="https://www.linkedin.com/in/jaduartev/">
                        <img src="@/assets/equipo/link.svg" alt="">
                      </a>
                    </center>
                  </div>  
                </div>                
              </div>
            </slide>
            <slide>
              <div class="out-team-item">
                <div class="our-team-container">
                  <div class="img-presentation">
                    <h4 class="name">Sergio Cuervo</h4>
                    <img src="@/assets/equipo/3.png" alt="">
                  </div>
                  <div class="content-presentation">
                    <h4 class="title">Co-Fundador</h4>
                    <p class="sub_title">Marketing</p>
                    <p class="descripcion">El marketing digital nos permite llegar al segmento pyme y persona, para interactuar cada vez más y satisfacer sus necesidades de tipo de cambio.</p>
                    <center>
                      <a target="_blank" href="https://www.linkedin.com/in/sergio-cuervo-guzm%C3%A1n-94b50314/">
                        <img src="@/assets/equipo/link.svg" alt="">
                      </a>
                    </center>
                  </div>  
                </div>                
              </div>
            </slide>
 -->
          <!-- </carousel> -->

          <!-- MOBIL -->
          <!-- <div class="container slider-2 hide-md-n text-center row align-items-center mx-auto justify-content-center sinpa">

            <carousel class="text-center carousel we-team my-3" :per-page="1" paginationColor="#dce3ec"
              paginationActiveColor="#272c3c">
              
            <slide>
              <div class="out-team-item">
                <div class="our-team-container">
                  <div class="img-presentation">
                    <h4 class="title">Javier Ravello</h4>
                    <img src="@/assets/equipo/1.png" alt="">
                  </div>
                  <div class="content-presentation">
                    <h4 class="title">Co-Fundador</h4>
                    <p class="sub_title">Tecnología</p>
                    <p class="descripcion">Usar la tecnología para nivelar las condiciones del mercado de cambio de monedas es la ambición que nos motiva.</p>
                    <center>
                      <a target="_blank" href="https://www.linkedin.com/in/javierravello/">
                        <img src="@/assets/equipo/link.svg" alt="">
                      </a>
                    </center>
                  </div>  
                </div>                
              </div>
            </slide>
            <slide>
              <div class="out-team-item">
                <div class="our-team-container">
                  <div class="img-presentation">
                    <h4 class="title">José Duarte</h4>
                    <img src="@/assets/equipo/2.png" alt="">
                  </div>
                  <div class="content-presentation">
                    <h4 class="title">Co-Fundador</h4>
                    <p class="sub_title">CEO</p>
                    <p class="descripcion">Subastar tus dólares es la forma más eficiente de rentabilizar tus operaciones de cambio y FIRBID lo hace realidad.</p>
                    <center>
                      <a target="_blank" href="https://www.linkedin.com/in/jaduartev/">
                        <img src="@/assets/equipo/link.svg" alt="">
                      </a>
                    </center>
                  </div>  
                </div>                
              </div>
            </slide>
            <slide>
              <div class="out-team-item">
                <div class="our-team-container">
                  <div class="img-presentation">
                    <h4 class="title">Sergio Cuervo</h4>
                    <img src="@/assets/equipo/3.png" alt="">
                  </div>
                  <div class="content-presentation">
                    <h4 class="title">Co-Fundador</h4>
                    <p class="sub_title">Marketing</p>
                    <p class="descripcion">El marketing digital nos permite llegar al segmento pyme y persona, para interactuar cada vez más y satisfacer sus necesidades de tipo de cambio.</p>
                    <center>
                      <a target="_blank" href="https://www.linkedin.com/in/sergio-cuervo-guzm%C3%A1n-94b50314/">
                        <img src="@/assets/equipo/link.svg" alt="">
                      </a>
                    </center>
                  </div>  
                </div>                
              </div>
            </slide>
            </carousel>
          </div>
        </div>
      </div>
    </div> -->

  <div class="fondo-curvo">

    <!-- Nuestros valores -->
    <div class="container-fluid values  our-values no-gutters">
      <!-- <div class="img-card col-sm-12 col-lg-5 d-none d-md-flex">
        <img src="@/assets/our-values-lg.png" alt="" class="img-fluid our-values-lg ml-5 my-md-5 my-lg-0 mx-auto" />
      </div> -->
      <div class="us-3">
        <div class="col-12 our-values-card nuestro-valores">
          <p class="values-title">Nuestros valores</p>
          <!-- <div class="img-card col-sm-12 w-100 d-md-none mx-auto" style="text-align: center;">
            <img src="@/assets/our-values-responsive.png" alt="" class="img-fluid mx-auto" style="margin-bottom: 3vw" />
          </div> -->
          <!-- PC -->
          <div class="row our-values-card-items col-12">
            <div class="item-us-3">
              <div class="value-card mx-auto">
                <div class="content px-3">
                  <img src="@/assets/card-why-firbid-1.png" class="img-fluid" alt="" />
                  <p class="value-title">Ser transparente</p>
                  <p class="value-description">
                    Honestidad y autenticidad como eje transversal con todos
                    nuestros stakehoders.
                  </p>
                </div>
              </div>
            </div>
            <div class="item-us-3">
              <div class="value-card mx-auto">
                <div class="content px-3">
                  <img src="@/assets/card-why-firbid-2.png" class="img-fluid" alt="" />
                  <p class="value-title">Siempre dar lo mejor de nosotros mismos</p>
                  <p class="value-description">
                    Nos desafiamos constantemente poniéndonos siempre los estándares
                    más altos.
                  </p>
                </div>
              </div>
            </div>
            <div class="item-us-3">
              <div class="value-card mx-auto">
                <div class="content px-3">
                  <img src="@/assets/card-why-firbid-3.png" class="img-fluid" alt="" />
                  <p class="value-title">Pasión y perseverancia</p>
                  <p class="value-description">
                    Sabemos que el camino no será fácil, pero nuestra pasión por
                    nuestra misión nos impulsa.
                  </p>
                </div>
              </div>
            </div>
            <div class="item-us-3">
              <div class="value-card mx-auto">
                <div class="content px-3">
                  <img src="@/assets/card-why-firbid-4.png" class="img-fluid" alt="" />
                  <p class="value-title">Innovación y adaptación al cambio</p>
                  <p class="overflow-auto value-description">
                    Sabemos que lo único constante en la vida es el cambio por eso
                    siempre estaremos innovando para hacer mejor las cosas.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Movil -->
          <carousel class="d-lg-none carousel-valores carousel mt-5 mx-auto" :per-page="1" paginationColor="#dce3ec"
            paginationActiveColor="#272c3c">
            <slide>
              <div class="img-fluid slider h-100">
                <img src="@/assets/card-why-firbid-1.png" class="img-fluid align-self-start values-img" alt="" />
                <h3 class="mb-md-3" style="color: #9768ff;">
                  Ser transparente
                </h3>
                <p style="color: #87879c;">
                  Honestidad y autenticidad como eje transversal con todos nuestros
                  stakehoders.
                </p>
              </div>
            </slide>
            <slide>
              <div class="img-fluid slider h-100">
                <img src="@/assets/card-why-firbid-2.png" class="img-fluid align-self-start values-img" alt="" />
                <h3 class="mb-md-3" style="color: #9768ff;">
                  Siempre dar lo mejor de nosotros mismos
                </h3>
                <p style="color: #87879c;">
                  Nos desafiamos constantemente poniéndonos siempre los estándares más altos.
                </p>
              </div>
            </slide>
            <slide>
              <div class="img-fluid slider h-100">
                <img src="@/assets/card-why-firbid-3.png" class="img-fluid align-self-start values-img" alt="" />
                <h3 class="mb-md-3" style="color: #9768ff;">
                  Pasión y perseverancia
                </h3>
                <p style="color: #87879c;">
                  Sabemos que el camino no será fácil, pero nuestra pasión por nuestra misión nos impulsa.
                </p>
              </div>
            </slide>
            <slide>
              <div class="img-fluid slider h-100">
                <img src="@/assets/card-why-firbid-4.png" class="img-fluid align-self-start values-img" alt=""
                  style="padding-top: 10%;" />
                <h3 class="mb-md-5" style="color: #9768ff;">
                  Innovación y adaptación al cambio
                </h3>
                <p style="color: #87879c; ;">
                  Sabemos que lo único constante en la vida es el cambio por eso
                  siempre estaremos innovando para hacer mejor las cosas.
                </p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>

  <!-- ESAN -->
  <div class="container esan py-5 row justify-content-center mx-auto text-center no-gutters m-0 p-0">
    
    <!-- PC -->
    <div class="row col-12 d-flex justify-content-center align-items-center">
      <div class="col-xs-12 col-md-5 col-lg-5 col-12 nuestra-experiencia">
        <p class="title">Los más de 50 años de experiencia de</p>
        <p class="title title2">Esan como aliado</p>
        <p class="visible-sm">
          Hemos trabajado de la mano de ESAN diseñando, validando y desarrollando FIRBID, lanzando al mercado este modelo de negocio único en el país.
        </p>
      </div>
      <div class="col-md-6 esan-img">
        <img  src="@/assets/esanpng.jpg"
          class="img-fluid imagen-esan experiencia-imagen" alt="" />
      </div>
    </div>
    <!-- MOBILE -->
    <div class="col-xs-12 col-lg-5 mx-auto my-auto">
      <p class="mt-5 mx-auto finale-p experience-description text-center">
        Hemos trabajado de la mano de ESAN diseñando, validando y desarrollando FIRBID, lanzando al mercado este modelo de negocio único en el país.
      </p>
    </div>
  </div>
  <el-dialog title="FIRBID" :visible.sync="dialogVisible" width="600px">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1V_xRb0x9aw" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </el-dialog>
  </div>

</div>