<div class="container-fluid py-5">
    <div class="row align-items-center justify-content-center text-center h-100">
        <div class="col-12 col-md-6">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <h5>Operaciones inmediatas</h5>
                </li>
            </ul>
            <ul class="mt-5 nav mr-auto text-center">
                <li class="nav-item mx-auto">
                    <img src="@/assets/interbank.png" class="img-fluid" alt="">
                </li>
                <li class="nav-item mx-auto">
                    <img src="@/assets/bcp.png" class="img-fluid" alt="">
                </li>
                <li class="nav-item mx-auto">
                    <img src="@/assets/banbif.png" class="img-fluid" alt="">
                </li>
            </ul>
            <hr>

            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item mx-auto">
                    <h5>Operaciones interbancarias</h5>
                </li>
            </ul>
            <ul class="mt-5 nav mr-auto text-center">
                <li class="nav-item mx-auto">
                    <img src="@/assets/bbva.png" class="img-fluid" alt="">
                </li>
                <li class="nav-item mx-auto">
                    <img src="@/assets/scotiabank.png" class="img-fluid" alt="">
                </li>

            </ul>
        </div>
        <div class="col-12 col-md-6">
            <div class="row align-items-center justify-content-center text-center">
                <img src="@/assets/operaciones.png" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</div>