<div class="trends container-fluid py-5">
    <div class="row align-items-center justify-content-center text-center">
        <h3>¿Te gusta mantenerte informado de las últimas tendencias?</h3>
    </div>
    <div class="row align-items-center justify-content-center text-center">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Todas las categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Finanzas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Construcción</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contabilidad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rentabilidad</a>
            </li>
        </ul>
    </div>
    <div class="container row align-items-center mx-auto my-5 justify-content-center text-center">
        <div class="col-12 col-lg-4">
            <div class="trend-card my-3 card">
                <img src="@/assets/trend-1.png" class="img-fluid" alt="">
                <div class="card-body">
                    <h5 class="card-title">La tendencia al cambio de dólar en Latinoamerica</h5>
                    <p>La presencia de entidad fiduciaria CORFID regulada y supervisada por la Superintendencia de
                        Banca y Seguros (SBS) asegurará...</p>
                    <p>Leer más</p>

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="trend-card my-3 card">
                <img src="@/assets/trend-2.png" class="img-fluid" alt="">
                <div class="card-body">
                    <h5 class="card-title">La tendencia al cambio de dólar en Latinoamerica</h5>
                    <p>La presencia de entidad fiduciaria CORFID regulada y supervisada por la Superintendencia de
                        Banca y Seguros (SBS) asegurará...</p>
                    <p>Leer más</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="trend-card my-3 card">
                <img src="@/assets/trend-3.png" class="img-fluid" alt="">
                <div class="card-body">
                    <h5 class="card-title">La tendencia al cambio de dólar en Latinoamerica</h5>
                    <p>La presencia de entidad fiduciaria CORFID regulada y supervisada por la Superintendencia de
                        Banca y Seguros (SBS) asegurará...</p>
                    <p>Leer más</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center justify-content-center text-center">
        <a href="#" class="btn btn-outline-secondary">Ir al blog</a>
    </div>

    <hr class="mt-5 w-75">
</div>