<div class="fondo container-fluid py-5">
    <div class="row align-items-center justify-content-center text-center text-light">
        <div class="col-12 col-md-5">
            <h2>Tecnología financiera</h2>
            <p>que te permitirá comprar y vender dólares como las grandes
                empresas.</p>
            <h5><img src="@/assets/icons/play.png" class="mr-3" alt="">Ver como funciona</h5>
        </div>
        <div class="col-12 col-md-7 w-100">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <img src="@/assets/devices.png" class="img-fluid" alt="">
                </li>
                <li class="nav-item w-100">
                    <ul class="nav text-center justify-content-center align-items-center">
                        <li class="nav-item mt-3 mr-3">
                            <p>Pronto disponible en:</p>
                        </li>
                        <li class="nav-item">
                            <img src="@/assets/google-play.png" class="img-fluid" alt="">
                        </li>
                        <li class="nav-item">
                            <img src="@/assets/app-store.png" class="img-fluid" alt="">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>